@import url("https://fonts.googleapis.com/css?family=Open+Sans:400,500&display=swap");
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Open Sans", sans-serif;
}
body {
  background: #fa234d;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100vw;
  height: 100vh;
  overflow: hidden;
}
.form-container {
  background-color: #ffffff;
  padding: 2rem;
  width: calc(100vw -65vw);
  max-width: 100%;
  border-radius: 10px;
  margin: 0 14px;
  box-shadow: 0 10px 8px rgba(0, 0, 0, 0.45);
}
.form {
  position: relative;
  padding-bottom: 20px;
}
i {
  position: absolute;
  top: 40px;
  right: 8px;
  visibility: hidden;
}
.heading {
  background-color: #fa234d;
  margin-bottom: 20px;
  padding: 10px;
  font-size: 14px;
  text-align: center;
  color: #ffffff;
}
label {
  display: inline-block;
  margin: 4px 0;
  font-size: 1rem;
  font-weight: bold;
  text-transform: capitalize;
}
input {
  width: 100%;
  padding: 10px 10px;
  border: 2px solid gray;
}
input, button{
	cursor: pointer;
}
input::placeholder {
  text-transform: capitalize;
  font-size: 14px;
}

#submit {
  width: 100%;
  padding: 10px 0;
  background: #fa234d;
  border: 2px solid #fa234d;
  border-radius: 4px;
  font-size: 1rem;
  color: #ffffff;
  text-transform: uppercase;
}
#submit:hover {
  filter: brightness(0.8);
}
small {
  position: absolute;
  left: 0;
  bottom: 0;
  text-transform: lowercase;
  visibility: hidden;
}
.success input {
  border-color: #15e16a;
}
.error input {
  border-color: #e20d0d;
}
.error small {
  visibility: visible;
  color: #e20d0d;
}
.success i.fa-circle-check {
  color: #15e16a;
  visibility: visible;
}
.error i.fa-circle-exclamation {
  color: #e20d0d;
  visibility: visible;
}

/* 
@import url('https://fonts.googleapis.com/css?family=Muli&display=swap');


* {
	box-sizing: border-box;
}

body {
	background-color: #9b59b6;

	display: flex;
	align-items: center;
	justify-content: center;
	min-height: 100vh;
	margin: 0;
}

.container {
	background-color: #fff;
	border-radius: 5px;
	box-shadow: 0 2px 5px rgba(0, 0, 0, 0.3);
	overflow: hidden;
	width: 400px;
	max-width: 100%;
}

.header {
	border-bottom: 1px solid #f0f0f0;
	background-color: #f7f7f7;
	padding: 20px 40px;
}

.header h2 {
	margin: 0;
}

.form {
	padding: 30px 40px;	
}

.form-control {
	margin-bottom: 10px;
	padding-bottom: 20px;
	position: relative;
}

.form-control label {
	display: inline-block;
	margin-bottom: 5px;
}

.form-control input {
	border: 2px solid #f0f0f0;
	border-radius: 4px;
	display: block;
	font-family: inherit;
	font-size: 14px;
	padding: 10px;
	width: 100%;
}

.form-control input:focus {
	outline: 0;
	border-color: #777;
}

.form-control.success input {
	border-color: #2ecc71;
}

.form-control.error input {
	border-color: #e74c3c;
}

.form-control i {
	visibility: hidden;
	position: absolute;
	top: 40px;
	right: 10px;
}

.form-control.success i.fa-check-circle {
	color: #2ecc71;
	visibility: visible;
}

.form-control.error i.fa-exclamation-circle {
	color: #e74c3c;
	visibility: visible;
}

.form-control small {
	color: #e74c3c;
	position: absolute;
	bottom: 0;
	left: 0;
	visibility: hidden;
}

.form-control.error small {
	visibility: visible;
}

.form button {
	background-color: #8e44ad;
	border: 2px solid #8e44ad;
	border-radius: 4px;
	color: #fff;
	display: block;
	font-family: inherit;
	font-size: 16px;
	padding: 10px;
	margin-top: 20px;
	width: 100%;
}




@media screen and (max-width: 480px) {

	.social-panel-container.visible {
		transform: translateX(0px);
	}
	
	.floating-btn {
		right: 10px;
	}
} */
